<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch and bound - basic</title>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
    ></script>
</head>
<body>
    <section>
        <form action="/" method="POST">
            <div>
                <textarea name="matrix" id="matrix" cols="40" rows="20"></textarea>
            </div>
            <div>
                <input type="submit" value="Calculate"/>
            </div>
        </form>
    </section>
</body>
</html>